<section>
  <form>
    <h1>HackETH</h1>
    <!-- <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Public key" value="example">
      </mat-form-field>
    </form>  -->
    <input type="text" [(ngModel)]="key" name="pub_key" placeholder="Public key">
    <p *ngIf="error">Provided public key is not added to Identity.</p>
    <button *ngIf="!loading && !done" mat-button (click)="doneClick()" type="button">Log in</button>
    <mat-spinner *ngIf="loading"></mat-spinner>
    <svg *ngIf="done" class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
    <button mat-button (click)="add()" type="button">Add</button>  
  </form>
  <app-send-to></app-send-to>
  <app-rocket [ngClass]="{'done': done}"></app-rocket>
</section>