@import "keyframes";

@mixin easeAnimation {
  animation-name: simpleEaseIn;
  animation-duration: .3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@mixin easeLongAnimation {
  animation-name: simpleEaseIn;
  animation-duration: .6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@mixin heightSlideDown {
  animation-name: heightSlide;
  animation-duration: .4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
