/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';

.background {
  min-height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
  background: linear-gradient(125deg, #f7fafd 18%, #F0F1FF 70%, #3B49F5 0) !important;
}