<div class="container">
    <div class="row">
        <div class="col-md-6">
            <app-add-key></app-add-key>
        </div>
        <div class="col-md-6">
                <mat-card class="card-cs">
                        <h1>My devices</h1>
                        <mat-list>
                            <mat-list-item *ngFor="let key of keys; let i=index">
                                {{ key | async }}&nbsp;&nbsp;<i class="material-icons" (click)="delete(i)">delete_forever</i>
                                <mat-divider></mat-divider>
                            </mat-list-item>
                        </mat-list>
                    </mat-card>
            </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <br>
            <app-send-to></app-send-to>
        </div>
    </div>
</div>